@import "tailwindcss";

@font-face {
    font-family: hiva;
    src: url(../font/NotoSans-VariableFont_wdth\,wght.ttf);
}

@layer base {
    body {
        font-family: hiva;
    }
}

@layer utilities {
    .row {
        @apply w-full flex flex-wrap
    }
}

@layer components {
    .btn {
        @apply flex items-center text-white bg-[#cbaa5c] overflow-hidden cursor-pointer duration-300
    }
    .btn-text{
        @apply px-4 py-2 text-sm font-medium
    }
    .btn-arrow{
        @apply w-[35px] h-[30px] border-l border-white  flex items-center justify-center duration-300 
    }
    .btn:hover{
       @apply bg-pink-200 text-black
    }
    .btn-arrow:hover{
        @apply translate-x-1
    }
}